<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/blocs/edit/{{bloc.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{bloc.title}}" class="form-control" name="title" placeholder="Titulo" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea name="text" rows="10" class="form-control" placeholder="Texto">{{bloc.text}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{bloc.description}}" class="form-control" name="description" placeholder="Descripcion" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>