<main class="index">

    <header class="masthead 0-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Bloc de Notas</h1>
            <h3 class="mb-5">
                <em>Almacena cualquier tipo de texto</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Empezemos</a>
        </div>
    </header>

</main>