<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>
            Iniciar Sesion
          </h3>
        </div>
        <div class="card-body">
          <form action="/signin" method="POST">
            <img src="/img/logo.png" alt="logo ejemplo" class="card-img-top mx-auto m-2 rounded-circle w-50">
            <div class="form-group">
                <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div><br>
            <div class="form-group">
                <button class="btn btn-success btn-block">
                    Iniciar Sesion
                </button>            
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>